<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Pest control and falconry experiences across the South West, West Midlands, and Wales</h2>
                <hr class="light">
                <p class="text-faded">Natural and humane methods of feral and urban bird population control; routine and reactive services covering all UK pest species; protect your solar panels from unwanted nesting birds; roof and land surveys using the latest drone technology.</p>
                <a href="#contact" class="btn btn-default btn-xl">Get in touch!</a>
            </div>
        </div>
    </div>
</section>
