<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get in touch</h2>
                <hr class="primary">
                <p>Give us a call or send us an email and we will get back to you as soon as possible.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="tel:+447946753411">
                <i class="fa fa-regular fa-phone wow bounceIn" data-wow-delay=".1s"></i>
                    <p>07946 753 411</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:info@101environmental.com?subject=Website%20enquiry&body=Your%20name%3A%20%0D%0AYour%20number%3A%20%0D%0AYour%20location%3A%20%0D%0AWhat%20you're%20looking%20for%3A">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>info@101environmental.com</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://instagram.com/{{ site.instagram_username }}">
                    <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.instagram_username }}</p>
                </a>
            </div>
        </div>
    </div>
</section>
