<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-duotone fa-feather wow bounceIn text-primary"></i>
                    <h3>Bird control</h3>
                    <p class="text-muted">Falconry and proofing against nuisance birds.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-duotone fa-mouse-field wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Pest control</h3>
                    <p class="text-muted">Treatment and prevention of all types of pest.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-duotone fa-drone-front wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Drone surveys</h3>
                    <p class="text-muted">Roof and site aerial surveys.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-duotone fa-warehouse-full wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Industrial consultancy</h3>
                    <p class="text-muted">Enabling hygiene and asset maintenance across all sectors.</p>
                </div>
            </div>
        </div>
    </div>
</section>
